@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300..600&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 232, 232);
    font-family: 'Anuphan', sans-serif;
    font-weight: lighter;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

/* nav bar */

.nav {
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    background-color: rgb(46, 165, 217);
    color: white;

    display: flex;
    flex-direction: column;
}

.nav > * {
    padding: 15px;
    background-color: inherit;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > h4 {
    font-size: 25px;
    font-weight: bolder;
}

.nav > .nav-pages {
    display: flex;
    flex-direction: column;

    height: 20em;
    background-color: inherit;
}

.nav-pages > .link, .nav-settings > .settings {
    flex: 1;
    background-color: inherit;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-settings {
    display: flex;
    flex-direction: column;
    height: 12em;
}

.nav-settings > .settings {
    background-color: inherit;
    flex: 1;
}

.link > *, .settings > *, .logo > * {
    background-color: inherit;
}

.link > svg, .settings > svg, .logo > svg {
    fill: white;
    width: 2em;
    padding: 0.5em;
}

.link > h4, .settings > h4 {
    font-size: 20px;
}

/* top banner */

.banner {
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    background-color: white;

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(2, 1fr);
}

.search-bar {
    background-color: inherit;
    padding: 10px;

    align-self: center;

    display: flex;
    align-items: center;
}

.search-bar > svg {
    height: 2.5em;
    background-color: inherit;
}

.search-bar > input {
    height: 2em;
    margin: 10px;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    width: 75%;
}

.banner > .greeting {
    grid-row: 2 / -1;

    background-color: inherit;
    padding: 10px;
    align-self: center;

    display: flex;
    align-items: center;
}

.greeting > img {
    height: 3.5em;
    background-color: inherit;
    padding: 10px;
}

.greeting > h4 {
    background-color: inherit;
    font-size: larger;
    font-weight: bolder;

}

.banner > .profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 10px;
    background-color: inherit;
}

.banner > .btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
}

.btns > button {
    padding: 0.5em 1.5em;
    border-radius: 15px;
    background-color: rgb(46, 165, 217);
    color: white;
    border: none;
    font-size: 15px;
}

/* main content */

.article {
    grid-column: 2 / -1;

    padding: 15px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2em 1fr;
}

.article > * {
    margin: 10px;
}

.article > h3 {
    font-weight: bolder;

}

.article > .items {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.items > .item {
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
    border-left: 5px solid rgb(247, 180, 10);

    display: flex;
    flex-direction: column;

}

.item > h4 {
    flex: 1;
    font-weight: bolder;

}

.item > p {
    flex: 2;
}

.item > * {
    padding: 10px;
    background-color: inherit;
}

.icons {
    align-self: flex-end;
}

.icons > img {
    height: 1.5em;
    background-color: inherit;
    padding: 5px;
}

/* article - sidebar */

.sidebar {
    grid-row: 2 / -1;
  
/*     display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 2em; */

    display: flex;
    flex-direction: column;
    justify-content: stretch;

}

.sidebar > .item2 {
    display: flex;
    flex-direction: column;
}

.sidebar > h3 {
    margin: 2em 0px 10px 0px;
    font-weight: bolder;
}

.item2 {
    border-radius: 15px;
    background-color: white;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.item2 > .ann {
    background-color: white;
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.ann > * {
    padding: 10px;
    background-color: inherit;
}

.ann > h4 {
    font-weight: bolder;
}