* {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 232, 232);
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.nav {
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    background-color: rgb(46, 165, 217);
    color: white;

    display: flex;
    flex-direction: column;

}

.nav > * {
    padding: 10px;
    background-color: inherit;
}

.banner {
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    background-color: white;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.banner > .greeting {
    grid-row: 2 / -1;

    background-color: inherit;
    padding: 10px;
}

.article {
    grid-column: 2 / -1;

    padding: 15px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2em 1fr;
}

.article > * {
    margin: 10px;
}

.article > .items {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.items > .item {
    margin: 5px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

.sidebar {
    grid-row: 2 / -1;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar > .item2 {
    flex: 1;

    display: flex;
    flex-direction: column;
    
    padding: 10px;
}

.item2 > .ann {
    background-color: white;
    flex: 1;
    padding: 10px;
    border: 1px solid lightgray;

    display: flex;
    align-items: center;
}